<!-- <app-sendvalue></app-sendvalue> -->
<app-login></app-login>
<app-databinding></app-databinding>
<app-oneway></app-oneway>
<app-twowaybinding></app-twowaybinding>
<app-ifdemo></app-ifdemo>
<app-switchdemo></app-switchdemo>
<app-formdemo></app-formdemo>
<app-shoppingcart></app-shoppingcart>
<app-likesdemo></app-likesdemo>
<app-iterationdemo></app-iterationdemo>
<app-trackdemo></app-trackdemo>
<app-conditions></app-conditions>
<app-classdemo></app-classdemo>
<app-styledemo></app-styledemo>
<app-angularcss></app-angularcss>
<app-keybinding></app-keybinding>
<app-mousedemo></app-mousedemo>
<app-eventsdemo></app-eventsdemo>
<app-parent></app-parent>
<app-child></app-child>
<app-productsfilter></app-productsfilter>
<app-productslist></app-productslist>
<app-sendvalue></app-sendvalue>
<app-displayvalue></app-displayvalue>
<app-pipedemo></app-pipedemo>
